.film {
  min-height: 100vh;
}
.filmContainer {
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
}
.containerStyle {
  background: #000;
  min-height: 100vh;
  background-color: #000000;
}
.filmBodyContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1480px;
  margin: 0 auto;
}

.filmSloganTitle {
  padding: 10px 0;
  font-size: 30px;
  color: #fff;
}
